html, body, .container{
    max-height: 100%;
}

.active {
    background-color: blue !important;
    color: white !important;
}

.background {
    background: url('../img/background.png') no-repeat center fixed;
    background-size: cover;
    transition: .5s;
}
